/*Tipografias*/

@import url('https://fonts.googleapis.com/css2? family= Anek+Bangla:wght@500 & family= Noto+Serif:wght@700 & family= Rubik+Wet+Paint & display= intercambio');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Bangla:wght@500&family=Noto+Serif:wght@700&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Bangla:wght@500&family=Creepster&family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Bangla:wght@500&family=Creepster&family=Noto+Serif:wght@700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Bangla:wght@500&family=Creepster&family=Noto+Serif:wght@700&family=Permanent+Marker&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Bangla:wght@500&family=Bangers&family=Creepster&family=Noto+Serif:wght@700&family=Permanent+Marker&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Bangla:wght@500&family=Bangers&family=Creepster&family=Noto+Serif:wght@700&family=Permanent+Marker&family=Press+Start+2P&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Bangla:wght@500&family=Bangers&family=Creepster&family=Noto+Serif:wght@700&family=Permanent+Marker&family=Press+Start+2P&family=Righteous&family=Special+Elite&display=swap');

:root{
    /*COLORES*/
    --primary: #1A090D;
    --secondary: #748386;
    --text-color: #1E1B18;
    --base: #FFFAFF;

    /*SPACINGS*/
    --spacing-xsmall: 1rem;
    --spacing-small: 2rem;
    --spacing-medium: 2.5rem;
    --spacing-large: 3rem;
    --spacing-xlarge: 4rem;

    /*FONT-FAMILY*/
    --font-principal: 'Bangers', cursive;
    --font-secondary: 'Anek Bangla', sans-serif;

    /*FONT SIZES*/
    --text-large: 5.2em;
    --text-medium: 2.4em;
    --text-base: 1.6em;
    --text-small: 1.4em; 
}


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/*Estilo Paginas*/

header {
    display: grid;
    align-items: center;
    justify-content: space-around;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

.body {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 100px 100px;
    gap: 2rem;
}

.menu{
    background-color: rgb(129, 129, 129);
    color: var(--base);
    font-size: 20px;
    text-decoration: none;
}
.fatal{
    color: rgb(245, 7, 7);
    font-size: 60px;
    font-family: 'Creepster', cursive;
}
.mortal{
    color: black;
    font-size: 60px;
    font-family: 'Noto Serif', serif;
}

.nombres{
    color: rgb(7, 151, 79);
    font-size: 40px;
    font-family: 'Anek Bangla', sans-serif;
}
.personajes{
    color: rgb(96, 40, 185);
    font-size: 60px;
    font-family: 'Anek Bangla', sans-serif;
}
.biografia{
    color: rgb(214, 19, 133);
    font-size: 60px;
    font-family: 'Bangers', cursive;
}
.movimientos{
    color: rgb(0, 4, 243);
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
}
.parrafo{
    color: black;
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
}
.botones{
    color: rgb(167, 0, 0);
    font-size: 35px;
}
.luchadores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 10%;
}

/*Fondo De Pantalla*/

.fondo {
    width: 100%;
    height: 100%;
    background-image: url(../img/background\ mk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.portada{
    image-orientation: from-image;
    align-items: center;
    padding: 0;
    margin: 0;
}

/*Footer*/

footer {
    display: flex;
    font-family: 'Anek Bangla', sans-serif;
    background-color: grey;
    margin: 0 auto;
    max-width: 1200px;
    text-decoration: none;
}